header.main_header.container
  .main_header_left
    a(href="#").logo
      img(src=require("../../../assets/icons/header/logo.svg"), alt="")
    nav.header_nav
      a(href="#about").each_link Haqqımızda 
      a(href="#advantages").each_link Üstünlüklər 
      a(href="#disciplines").each_link Fənlər 
      a(href="#contacts").each_link Əlaqə
  .main_header_right
    .downloads
      a(href="google.com").google_play
        img(src=require("../../../assets/icons/header/google_play.svg"), alt="")  
      a(href="apple.com").ios
        img(src=require("../../../assets/icons/header/ios.svg"), alt="")  