@import "../../../styles/initials/variables.scss";
@import "../../../styles/initials/mixins.scss";

header.main_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 72px;

  .main_header_left {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 40px;
    height: 30px;

    img {
      max-height: 100%;
      object-fit: contain;
    }
  }

  nav.header_nav {
    display: flex;
    align-items: center;

    .each_link {
      // @include font(14, $black, 20, f_semi_bold);
      @include font(14, $black, 20, f_semi_bold);

      &:not(:nth-last-child(1)) {
        margin-right: 32px;
      }
    }
  }

  .main_header_right {
    .downloads {
      a {
        width: 135px;
        height: 40px;

        &:not(:nth-last-child(1)) {
          margin-right: 12px;
        }

        img {
          max-width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

@include mobile {
  header.main_header {
    nav.header_nav {
      display: none;
    }
    .logo {
      margin-right: 0;
      height: 24px;
    }
    .main_header_right .downloads a {
      width: auto;
      height: 28px;
    }
  }
}
