nav.pages_navigation
  a.btn(data-type="btn-secondary", href="styleguides.html") StyleGuides
  a.btn(data-type="btn-secondary", href="signin.html") Signin
  a.btn(data-type="btn-secondary", href="resetpass.html") ResetPass
  a.btn(data-type="btn-secondary", href="setpassword.html") SetPassword
  a.btn(data-type="btn-secondary", href="setpasssuccess.html") Set Pass Success