extends ../layout/main
include ../components/form/custom_input
include ../components/buttons/button
include ../common/snackbacks/snackback


block variables
  -var title = 'Uvodo Reset Password';
  -var bodyClass = '';


block content
  section.signin_block.container
    .white_squad
      .uvodo_logo.fcc
        img(src=require("../../assets/images/uvodo_logo.svg"), alt="")
      .reset_desc_block
        h1.h700_bold.text_dark Create new Password
        p.h400_reg.text_medium Your new password must be different 
          br
          |from previous used passwords.
      form#set_pass_form.set_pass_form(action="post") 
        - const pass1_params = {type: 'password', data_type:'labeled-input', name: 'pass1', label: 'Password', placeholder: '', min: '8', max: '32', error_msg: 'Must be at least 8 characters.', required: true }
        +custom_input(pass1_params)
        - const pass2_params = {type: 'password', data_type:'labeled-input', name: 'pass2', label: 'Confirm password', placeholder: '', min: '8', max: '32', error_msg: 'Passwords are not match.', required: true }
        +custom_input(pass2_params)
        +custom_button({href: null, id:"set_pass_submit", type: 'btn-primary', width: 'full', text: 'Reset password' })  
  .navigate_back.container
    a.to_signin(href="signin.html")
      i.icon-ArrowLeft 
    p.h500_semi_bold.text_dark Reset Password
  
  