extends ../layout/main
include ../components/form/custom_input
include ../components/buttons/button


block variables
  -var title = 'Uvodo Signin';
  -var bodyClass = 'index-page';


block content
  section.signin_block.container
    .white_squad
      .uvodo_logo.fcc
        img(src=require("../../assets/images/uvodo_logo.svg"), alt="")
      form#login_form.login_form(action="post") 
        - const email_input_vars = {type: 'email', name: 'email', label: 'Email', placeholder: 'Enter your e-mail address', min: '3', max: '32', error_msg: 'Wrong e-mail', required: true }
        +custom_input(email_input_vars)
        - const pass_input_vars = {type: 'password', data_type: "labeled-input", name: 'password', label: 'Password', placeholder: 'Enter your password', min: '3', max: '32', error_msg: 'Wrong password', required: true }
        +custom_input(pass_input_vars)
        a.h400_reg.text_medium.forgot_pass_btn(href="resetpass.html") Forgot your password?
        +custom_button({href: null, type: 'btn-primary', width: 'full', text: 'Log in' })  
  
  
  