.icon_block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fcs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fce {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container {
  padding: $paddingDesk;
}

@include midDesk {
  .container {
    padding: $paddingMidDesk;
  }
}

@include mobile {
  .container {
    padding: $paddingMobile;
  }
}
