// @font-face {
//   font-family: "f_bold";
//   src: url("../fonts/Poppins-Bold.ttf") format("truetype");
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// @font-face {
//   font-family: "f_extra_bold";
//   src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// @font-face {
//   font-family: "f_extra_light";
//   src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// @font-face {
//   font-family: "f_light";
//   src: url("../fonts/Poppins-Light.ttf") format("truetype");
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// @font-face {
//   font-family: "f_medium";
//   src: url("../fonts/Poppins-Medium.ttf") format("truetype");
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// @font-face {
//   font-family: "f_reg";
//   src: url("../fonts/Poppins-Regular.ttf") format("truetype");
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// @font-face {
//   font-family: "f_semi_bold";
//   src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

@font-face {
  font-family: "manrope";
  font-style: normal;
  src: url("../fonts/Manrope-VariableFont_wght.ttf");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Better Font Rendering =========== */
